.noline {
  text-decoration-style: none;
}

ul {
  list-style-type: none;
}

.search {
  field-sizing: content;
}

.h1-description {
  margin-inline: 28rem;
}

.p-description {
  max-width: 31.25rem;
}

.resizeLarge {
  height: 325px;
  width: 500px;
}
