{% extends "layout.html" %} {% block title %}Home{% endblock %} {% block main %}
<h1>{{ book.title }}</h1>
<hr />
<div class="d-flex align-items-center">
  <div class="d-flex justify-content-center flex-column">
    {% if img != 'No image avaliabe' %}
    <img
      alt="{{ book.title }}"
      src="{{ img }}"
      class="rounded float-start img-thumbnail resizeLarge"
    />
    <p>Image source: <a href="{{ img }}">{{ img }}</a></p>
    {% else %}
    <h1>No image image avaliable</h1>
    {% endif %}
    <form action="/cart" method="post">
      <input type="hidden" name="book" value="{{ id }}" />
      <button class="btn btn-primary" style="margin-top: 50px">Borrow</button>
    </form>
  </div>
  <div class="mb-3 d-flex flex-column align-items-center">
    <h1 class="mb-3 h1-description">Description:</h1>
    <p class="p-description">{{ description }}</p>
  </div>
</div>
{% endblock %}
